body {
  background-color:#FDFDFF;
 font-family: "Roboto", sans-serif;
  color: #163152;
 margin: 0;
}
.main-header {
  width: 1170px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 55px;
  padding-right: 55px;
  margin-bottom: 40px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  }
.main-header-nav {
  display: flex;
  align-items: center;
}
.main-header-logo {
  width: 64px;
  height: 68px;
  margin-right: 471px;
  }
.main-header-nav-list {
  width: 559px;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  }
.site-navigation-item {
  margin-right: 30px;
}
.site-navigation-item:last-child {
  margin-right: 0;
}
.signin {
  width: 36px;
  height: 36px;
  color: #00C6BD;
  margin-left: auto;
}
.site-navigation-item a {
  color: #163152;
  text-decoration: none;
  }
.site-navigation-item a:hover {
  color: rgba(22, 49, 82, 0.50);
  }  
.site-navigation-item a:active {
  color: rgba(22, 49, 82, 0.30);
  }  
.signin:hover {
  opacity: 0.5;
}
.signin:active {
  opacity: 0.3;
}
.main-content {
  width: 1170px;
  margin: 0 auto;
  padding: 0 55px;
    }
.hero {
  margin-bottom: 120px;
}
h1 {
  text-transform: uppercase;
  font-weight: 400;
  font-style: italic;
  font-size: 44px;
  line-height: 60px;
  margin-top: 0;
  margin-left: 70px;
  margin-bottom: 40px;
}
main .title {
  font-weight: 700;
  font-size: 24px;
  line-height: 34px;
  margin-top: 0;
  text-decoration: underline;
  text-decoration-color: #00c6bd;
  text-decoration-thickness: 2px;
  text-underline-offset: 15px;
  text-underline-position: under;
}
.blog-article {
  width: 1030px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
} 
.blog-article-content {
  width: 400px;
}
.blog-article-1 {
  margin-bottom: 100px;
}
.blog-article-2 {
  flex-direction: row-reverse;
  margin-bottom: 120px;
}
.blog-article-date {
 font-size: 14px;
 line-height: 18px;
 text-transform: uppercase;
 margin-top: 0;
 margin-bottom: 10px;
}
.blog-content {
  font-size: 16px;
  line-height: 24px;
  margin-top: 35px;
  margin-bottom: 12px;
}
.gallery {
  width: 1170px;
  margin: 0 auto; 
  margin-bottom: 120px;
}
.gallery-title {
  margin-top: 0;
  margin-bottom: 55px;
  }
.gallery-container {
  display: flex;
}
.gallery-active {
  width: 970px;
  margin-right: 30px;
}
.gallery-column {
  width: 170px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.gallery-item {
  margin-bottom: 30px;
}
.gallery-item:last-child {
  margin-bottom: 0; 
}
.gallery-item a{
   display: block;
}
.gallery-item img {
  display: block;
}
.news {  
  width: 770px;
  margin: 0 auto;
  margin-bottom: 120px;
}
.news-title-main {
  margin-top: 0;
  margin-bottom: 55px;
}
.post-img {
  display: block;
  margin: 0 auto;
  margin-bottom: 17px;
}
.winner {
font-size: 16px;
line-height: 19px;
color: #8693A4;
margin-top: 0;
margin-bottom: 33px;
}
.news-title {
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  margin-top: 33px;
  margin-bottom: 27px;
} 
.news-content {
  font-size: 18px;
  line-height: 26px;
  margin-top: 12px;
  margin-bottom: 12px;
}
h4 {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px; 
  margin-top: 24px;
  margin-bottom: 15px;
}
.post ul {
  padding: 0;
  margin: 0;
  padding-left: 19px;
  margin-top: 15px;
  margin-bottom: 30px;
}
.post li {
  margin-bottom: 8px;
  font-size: 18px;
  line-height: 26px; 
}
.cite {
  font-weight: 700;
  font-size: 26px;
  line-height: 36px;
  margin: 0;
  padding-left: 20px;
  border-left: 2px solid #00c6bd;
}
.post-footer {
  display: flex;
}
.author {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  margin-left: 15px;  
}
.author a {
  color: #163152;
  text-decoration: none; 
}
.news-time {
  font-size: 16px;
  line-height: 19px;
  color:#8693A4;
  margin-top: 9px;
}
.news-link {
  margin-left: auto;
}
.news-link:hover {
  opacity: 0.5;
}
.news-link:active {
  opacity: 0.3;
}
.contacts {
  width: 1010px;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}
.contacts-content {
  width: 240px;
  padding-top: 50px;
}
.contacts h2 {
  margin-bottom: 35px;
}
.contacts h3 {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  margin: 0;
  }
.contacts-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.contacts-item {
  display: flex;
  gap: 10px;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 15px;
}
.contacts-item:last-child {
  display: block;
}
.contacts-item address {
  font-style: normal;
}
.contacts-item a {
  color: #163152;
  text-decoration: none;
}
.seti-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 15px;
}
.seti-item a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 2px solid #00C6BD;
  border-radius: 50%;
  }
.main-footer {  
  margin-top: 120px;
  padding-top: 60px;
  padding-bottom: 60px;  
}
.main-footer a {
  color: #163152;
  text-decoration: none;
}
.main-footer-container {
  margin: 0 auto;
  width: 1170px;
  padding: 0 55px;
  display: flex;
  justify-content: space-between;
}
.main-footer-column {
  width: 175px;
  margin-right: auto;
}
.main-footer-copy {
  font-size: 10px;
  line-height: 12px;
}
.footer-navigation-topics {
  width: 870px;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
.footer-navigation-menu {
  width: 165px;
}
 .footer-title {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 20px;
}
.footer-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer-item {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  text-transform: none;
  margin-bottom: 12px;
}
.footer-item:last-child {
  margin-bottom: 0;
}